[submodule "themes/anatole"]
	path = themes/anatole
	url = https://github.com/lxndrblz/anatole.git
[submodule "quickstart/themes/anatole"]
	path = quickstart/themes/anatole
	url = https://github.com/lxndrblz/anatole.git
